@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body {
  background-color: #fefefa;
  color: #454545;
  font-family: Merriweather, Georgia, serif;
  font-size: 16px;
  font-weight: normal;

  line-height:1.5em;
  margin: 0;
  background-image: url('../images/header-background.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left top;

  background-size: contain;

  height: 100vh;
}

.container404 {
  width: 40%;
  /*height: 50%;*/
  margin: auto;

  padding: 15% 50px;
  transition-duration: 2s;
  transition-property: opacity;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  text-align: center;

}
